// ----- allgemeine Farben
$red:         #e2001a;
$black:       #222222;
$green:       #087600;
$yellow: 	  #fdda00;

$lightblue1:    #e2f2f9;
$lightblue2:    #bfe3f4;
$lightblue3:    #dff1f9;
$lightblue4:    #f1f9fc;
$lightblue5: 	#C3DAE8;
$lightblue6:  	#8EBCD2;
$lightblue7: 	#cae9fb;

$lightgreen1:  	#f1fadf;
$lightgreen:  	#dfe6cf;
$darkgreen: 	#6E8F18;

$grey:   #696969;
$grey1:  #edeeed;
$grey2:  #E2E3E5;
$grey4:  #99999d;
$grey8:  #555555;
$grey11: #2A2E2F;


// ----- abstrakte Farbennamen - zur Verwendung im Projekt
$color1: $black;
$color2: $grey;
$color3: $grey2;
$color4: $grey4;
$color5: $grey8;
$color6: $grey11;

$col1: $color1;
$col2: $color2;
$col3: $color3;
$col5: $color5;
$col6: $color6;

