$grey1:  #edeeed;
$grey2:  #E2E3E5;
$grey3:  #C9C9C9;
$grey4: #2A2E2F;
$grey5:  #3F3F3B;
$grey6:  #393940;
$grey7: #555555;
$grey8:  #585959;
$grey9:  #6e6e74;
$grey10:  #7d7d82;
$grey11:  #99999d;
$orange1: #fbab1b;
$orange2: #f63;
$brown1:  #a50;
$red1:    #a20000;
$red2:    #90011f;
$blue1:   #069;
$blue2:   #09c;
$blue3:   #71A3AD;
$blue4:   #588189;
$blue5:   #211864;
$green1:  #663; 
$green2:  #996;
$green3:  #cc0;
$green4:  #cc9;
