/* -------------------------------------------------------------------------
 Prettyprint
---------------------------------------------------------------------------- */
.pln {color: #fff} /* plain text */


  .str,
  .string {color: #E6DB74;} /* string content */

  .kwd,
  .keyword {color: #66D9EF;} /* a keyword */

  .com,
  .comment {color: #75715E;} /* a comment */

  .typ {color: #A6E22E;} /* a type name */

  .lit,
  .number {color: #AE81FF;} /* a literal value */

  /* punctuation, lisp open bracket, lisp close bracket */
  /* .pun, .opn, .clo { color: #660 } */

  .tag {color: #F92672;} /* a markup tag name */

  .atn {color: #A6E22E;} /* a markup attribute name */

  .atv {color: #E6DB74;} /* a markup attribute value */

  /*.dec, .var { color: #606 }*/ /* a declaration; a variable name */

  .fun {color: #FF0000;} /* a function name */

  .str {color: #060}

  .kwd {color: #006; font-weight: bold }

  .com {color: #600; font-style: italic }

  .typ {color: #404; font-weight: bold }

  .lit {color: #044}

  .pun,
  .opn,

  .clo {color: #440}

  .tag {color: #006; font-weight: bold }

  .atn {color: #404}

  .atv {color: #060}


/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  border-left:1px solid #444;
  margin: 0 0 0 3.3em; /* IE indents via margin-left */
  padding: 0;
}

ol.linenums li {
  color: #bebec5;
  line-height: 1.5;
  padding-left: .8em;
}
