.sg-module-cnt {
   margin-bottom: 40px;
   border: $sg-module-cnt-border;
   background: #fff;
}

.sg-title {
  font-size: 1.25rem;
  font-weight: bold;
  margin: 0 0 20px 0;
	background-color: $sg-title-bgcol;
	color: $sg-title-col;
  padding: 0.5rem;
}

.sg-preview {
	padding: 10px;
}
