// Basic typography
// Especially important with content from WYSIWYG-editors.

h1, h2, h3, h4, h5, h6 {
  font-family: $font-sans-serif;
  font-weight: bold;
  color: $headings-color;
}
h1 {

}
h2 {

}
h3 {

}
h4 {

}
h5 {

}
h6 {

}
